body {
    margin: 0;
    padding: 0px;
    background-color: #EFE7DB;
}

header{
    margin-bottom: 12px;
}


h1,h2,h3,h4,h5,h6 {
    margin-left: 10px;
}



.content {
    text-align: center;
    margin-top: 20px;
}

form {
    display: inline-block;
    text-align: left;
}

.home-form-container {
    text-align: center; /* Center-align the form contents */
    padding: 20px; /* Add padding to the form container */
}


/* Style for form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for form inputs */
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the "Submit" button */
input[type="submit"] {
    background-color: #7393B3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Style for the "Add to History" button */
#addToHistory {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7393B3;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* CSS for Enter id_check form */
.history-form-container {
    text-align: left;
    padding: 20px;
}

/* Style for form labels */
.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for form inputs */
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the "Get Details" button */
.form-button {
    background-color: #7393B3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
