body {
    margin: 0;
    padding: 0;
    background-color: #EFE7DB;
}

header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-title {
    color: white;
    margin: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li.nav-item {
    display: inline-block;
    margin: 0 10px; 
}

li.nav-item a {
    color: white;
    text-decoration: none;
}

li.nav-item a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
    margin-top: 20px;
}

form {
    display: inline-block;
    text-align: left;
}
