body {
    margin: 0;
    padding: 0px;
    background-color: #EFE7DB;
}

header{
    margin-bottom: 12px;
}


h2{
    text-align: center;
}

.content {
    text-align: center;
    margin-top: 20px;
}

/* Style for the div containing the form of the restaurants*/
#r_div {
    margin-left: 10%;
    position:relative;
    float: left;
}

.home-form-container {
    text-align: center; /* Center-align the form contents */
    padding: 20px; /* Add padding to the form container */
}


/* Style for form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for form inputs */
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the "Submit" button */
input[type="submit"] {
    background-color: #7393B3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Style for the "Add to History" button */
#addToHistory {
    background-color: #7393B3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* CSS for Enter id_check form */
.history-form-container {
    text-align: left;
    padding: 20px;
}

/* Style for form labels */
.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for form inputs */
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the "Get Details" button */
.form-button {
    background-color: #7393B3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#r_form {
    width: 400px;
    margin-left: 10 px;
    padding-top: 30px;
    text-align: left;
    margin-top: 20px;
}
option {
    text-align: center;
}

.select-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#r_submit {
    margin-top: 20px;
    margin-left: 30%;
    text-align: center;
}

/* Stars rating style */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}


.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('img/star_empty.jpg'); 
    background-size: cover;
    margin-right: auto;
}

.rating input:checked ~ label {
    background-image: url('img/star_filled.jpg'); 
}

#rating_message {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif; 
}

#message{
    padding-left: 40px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}


#r_cards {
    float: right;
    width: 50%;
}

h3{
    text-align: center;
}

div.card_body{
    text-align: right;
}

.cards{
    display:inline-block;
    width: 500px;
    margin-top: 60px;
    padding: 20px;
    margin-left: 20%;
    text-align: center;
    border-width: 1px 2px 0 4px;
    border-style: dashed solid dashed solid;
    border-color: black;
    background-color: #ebd9bf;
    box-shadow: 2px 4px;
    border-radius: 10px;
}

.logo {
    float: left; 
    width: 25%;  
}

/* Style of the cards */

.card_body {
    float: right;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

footer{
    height:40px
}

/* Use a media query to switch to a column layout on smaller screens */
@media (max-width: 1000px) {
    #r_cards {
        float: left;
        margin: 10px 0;
        width: 80%; 
    }
}